TG_BOT_TOKEN=
OWNER_CHAT_ID=
MINI_APP_URL=https://mini-appsvsh.vercel.app
API_BASE=https://mini-appsvsh.vercel.app
CLIENT_URL=https://mini-appsvsh.vercel.app/client.html
WORKER_PIN=2026
DATABASE_URL=
